<div class="titlebar">
    <h1>Listing TODOs</h1>
    <%= form_tag("/post", method: "get", class: "form-group add-todo") do %>
      <%= text_field(:todo, :title, class: "form-control todo-input") %>
      <%= text_field(:todo, :content, class: "form-control todo-input") %>
      <button class="btn btn-primary" id="add-todo">
        <i class="icon-ok icon-white"></i>
      </button>
    <% end %>
</div>

<% @todos.each do |todo| %>
  <div class="todo">
    <div class="title">
      <%= todo.title %>
    </div>
    <div class="content">
      <%= todo.content %>
    </div>
  </div>
<% end %>