<!DOCTYPE html>
<html>
<head>
  <title>RAILSTEST</title>
  <%= stylesheet_link_tag    'css/bootstrap.min.css', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'css/bootstrap-responsive.min.css', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12 main-content">
        <%= yield %>
    </div>
  </div>
</div>

</body>
</html>
